{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.min.css') }}">
{% endblock %}

{% block header %}
    <div id="headerWelcome">
        Bienvenue!
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module" src="{{ asset('js/mediatheque/login.js') }}"></script>
{% endblock %}