<!DOCTYPE html>
<html>
    <head>
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta charset="UTF-8">
        <title>{% block title %}Médiathèque{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/main.min.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="app">
            <header>
                <div id="mainLogo">
                    <img src="{{ asset('images/logo.png') }}" alt="Médiathèque"/>
                </div>
                {% block header %}
                    <div id="appHeader"></div>
                {% endblock %}
            </header>
            {% block body %}
                <div id="appBody"></div>
            {% endblock %}

            {% block javascripts %}
                <script type="module" src="{{ asset('js/mediatheque/header.js') }}"></script>
            {% endblock %}
        </div>
    </body>
</html>
