<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Médiathèque{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/main.min.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div id="app">
    <header>
        <div id="mainLogo">
            <img src="{{ asset('images/logo.png') }}" alt="Médiathèque"/>
        </div>
        <ul id="mainMenu">
            <li>Livres
                <ul class="subMenu l1Menu">
                    <li>Par livre</li>
                    <li>Par auteur</li>
                </ul>
            </li>
        </ul>
    </header>
    {% block body %}
        <div id="appBody"></div>
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
</div>
</body>
</html>
